{% extends 'base.html' %}

{% block menu %}
 <li><a href="{% url 'webapp:photo_gallery_create' %}">Add photo</a></li>
{% endblock %}
{% block content %}
    <h1>Photos:</h1>
    <hr/>
        {% for photo in photos %}
            <img class="photo" src="{{ photo.img.url }}" width="250" height="250" alt="user picture">
            <div>Подпись: {{ photo.description }}</div>
            <div>Автор: {{ photo.author_name }}</div>
            <div>дата создание: {{ photo.creation_date }}</div>
            <!--<div>Избронны: {{ photo. }}</div>-->
            <a href="{% url 'webapp:photo_gallery_view' photo.pk %}">More...</a>
            <hr/>
 <li><a href="{% url 'webapp:photo_gallery_update'  photo.pk %}">Edit</a></li>
<li><a href="{% url 'webapp:photo_gallery_delete'  photo.pk %}">Delete</a></li>
        {% endfor %}
{% endblock %}